  <form class="form-horizontal well" ng-submit="blogCtrl.addBlog()">
    <fieldset>
    <legend>Add Your Comment</legend>
      <div class="form-group">
        <label for="blogHead" class="col-lg-2 control-label" ng-model="blogCtrl.newBlog.title">Heading</label>
        <div class="col-lg-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="blogDescription" class="col-lg-2 control-label" ng-model="blogCtrl.newBlog.description">Description</label>
        <div class="col-lg-10">
          <textarea class="form-control"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Add your Review</button>
        </div>
      </div>
    </fieldset>
  </form>